
.floating-whatsapp-chatbox {
  width: 420px !important;   
  height: 520px !important; 
  font-size: 1.05rem !important; 
}

.floating-whatsapp-button img {
width: 150px !important;
height: 150px !important;
}


@media (max-width: 600px) {
  .floating-whatsapp-chatbox {
    width: 90% !important;
    height: 450px !important;
  }
}


@media (max-width: 200px) {
  .floating-whatsapp-chatbox {
    width: 80% !important;
    height: 200px !important;
    font-size: 0.8rem !important;
  }

  .floating-whatsapp-button img {
    width: 50px !important;
    height: 50px !important;
  }
}
