.videoContainer {
  width: 100%;
  height: 1000px; 
  overflow: hidden;
  position: relative;
}

.videoBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .videoContainer {
    height: 300px;
  }
}


@media (max-width: 480px) {
  .videoContainer {
    height: 200px;
  }
}

@media (max-width: 200px) {
  .videoContainer {
    height: 80px;
  }
}