.inicioConteiner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.columnaImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgInicio {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 5px;
  object-fit: cover;  
  margin-top: 150px;
}

.imgInicio2 {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 0;
}

.columnaTexto {
  text-align: center;
}

.textInicio {
  font-size: 27px;
  font-weight: lighter;
  margin-top: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pdInicio {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgMagia {
  height: 700px;
  width: 100%;
  object-fit: cover;
}


@media (max-width: 1024px) {
  .inicioConteiner {
    grid-template-columns: 1fr; 
    padding: 30px;
    gap: 40px;
  }

  .textInicio {
    font-size: 22px;
    margin-top: 60px;
  }

  .pdInicio {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .imgMagia {
    height: 350px;
  }
}


@media (max-width: 480px) {
  .inicioConteiner {
    padding: 15px;
    gap: 25px;
  }

  .imgInicio {
    max-width: 85%;
    margin-top: 30px;
  }

  .imgInicio2 {
    max-width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .textInicio {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.4;
  }

  .pdInicio {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.3;
  }

  .imgMagia {
    height: 200px;
  }
}


@media (max-width: 200px) {
  .inicioConteiner {
    padding: 10px;
    gap: 15px;
  }

  .imgInicio {
    max-width: 100%;
    margin-top: 15px;
  }

  .imgInicio2 {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .textInicio {
    font-size: 12px;
    margin-top: 15px;
    line-height: 1.2;
  }

  .pdInicio {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .imgMagia {
    height: 80px;
    margin: 5px;
  }
}
