.footerConteiner{
    background-color: white !important;
    color: black !important;
    font-family: 'Old Standard TT', serif !important;
    font-weight: lighter !important;
    margin-bottom: 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;           
    width: 100%;
}


.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.footer-copy {
  font-size: 18px;
  margin: 0;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.titleFooter{
    font-size: 15px;
    margin-bottom: 10px;
}

.redesFooter{
    font-size: 10px;
}

.footer-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.footer-right p{
  margin: 0;
  font-size: 16px;
  margin-right: 90px;
}


@media (max-width: 768px) {
  .footerConteiner {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-left,
  .footer-right {
    align-items: center;
  }

  .footer-right p {
    margin-right: 0;
  }
}


@media (max-width: 480px) {

  .footerConteiner {
    padding: 20px 10px;
  }

  .footer-copy {
    font-size: 16px;
  }

  .titleFooter {
    font-size: 14px;
  }

  .footer-right p {
    font-size: 14px;
  }
}


@media (max-width: 200px) {
  .footerConteiner {
    padding: 15px 5px;
    gap: 10px;
  }

  .footer-copy {
    font-size: 12px;
  }

  .titleFooter {
    font-size: 11px;
  }

  .footer-right p {
    font-size: 11px;
  }
}




