.videoContainer2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-top: 0;
}

.videoBanner2 {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}


@media (max-width: 768px) {
  .videoBanner2 {
    height: 50vh; 
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .videoBanner2 {
    height: 40vh; 
  }
}


@media (max-width: 200px) {
  .videoBanner2 {
    height: 25vh; 
    object-fit: cover;
  }
}
